### 1) Importing required packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from copy import deepcopy
%matplotlib inline

In [4]:
data = pd.read_csv("casestudy.csv", index_col=0)
data

               customer_email  net_revenue  year
0        nhknapwsbx@gmail.com       249.92  2015
1        joiuzbvcpn@gmail.com        87.61  2015
2        ukkjctepxt@gmail.com       168.38  2015
3        gykatilzrt@gmail.com        62.40  2015
4        mmsgsrtxah@gmail.com        43.08  2015
...                       ...          ...   ...
685922   qzqttwiftu@gmail.com       184.58  2017
685923   pjodiifjop@gmail.com       133.03  2017
685924   appaplmgko@gmail.com       200.98  2017
685925   wvkpmwsgck@gmail.com       235.35  2017
685926   aregboumbw@gmail.com       208.43  2017

[685927 rows x 3 columns]

In [10]:
data.customer_email.value_counts()

wtbxliuywf@gmail.com     3
leafpkocos@gmail.com     3
yutbpprfrj@gmail.com     3
pwllhvbpzv@gmail.com     3
ofysynyagn@gmail.com     3
                        ..
 jzkxvcumhr@gmail.com    1
gknvzmmwxi@gmail.com     1
qjxzeiurgm@gmail.com     1
 srhiqoyxrk@gmail.com    1
 aregboumbw@gmail.com    1
Name: customer_email, Length: 604618, dtype: int64

## For 2015

In [9]:
data.year.value_counts()

2017    249987
2015    231294
2016    204646
Name: year, dtype: int64

In [6]:
data_15 = data[data.year == 2015]
data_15

               customer_email  net_revenue  year
0        nhknapwsbx@gmail.com       249.92  2015
1        joiuzbvcpn@gmail.com        87.61  2015
2        ukkjctepxt@gmail.com       168.38  2015
3        gykatilzrt@gmail.com        62.40  2015
4        mmsgsrtxah@gmail.com        43.08  2015
...                       ...          ...   ...
231289   xtrpmgjbwp@gmail.com       216.89  2015
231290   peeorxpsbr@gmail.com        39.16  2015
231291   vanasezjpw@gmail.com       233.46  2015
231292   dnpremlztb@gmail.com       136.27  2015
231293   qsgswrpycl@gmail.com        60.24  2015

[231294 rows x 3 columns]

### Total revenue for current year

In [8]:
print("The Total revenue for 2015 is {}".format(data_15.net_revenue.sum()))

The Total revenue for 2015 is 29036749.189999994

#### New Customer Revenue

##### As we dont have data for 2014 we cant say anything about new customers in 2015.

#### Existing customers growth

##### As we dont have data for 2014 we cant say anything about existing customers in 2015.

#### Revenue lost from attrition

##### As we dont have data for 2014 we cant say anything about new customers in 2015.

#### Existing Customer Revenue Current Year

##### As we dont have data for 2014 we cant say anything about existing customers in 2015.

#### Existing Customer Revenue Prior Year

##### As we dont have data for 2014 we cant say anything about existing customers in 2015.

### Total Customers Current Year

In [24]:
print("The total number of unique customers for 2015 are: {}".format(len(pd.unique(data_15.customer_email))))

The total number of unique customers for 2015 are: 231294

#### Total Customers previous Year

##### As we dont have data for 2014 we cant say anything about existing customers in 2015.

#### New Customers

##### As we dont have data for 2014 we cant say anything about existing customers in 2015.

#### Lost Customers

##### As we dont have data for 2014 we cant say anything about existing customers in 2015.

## For 2016

In [25]:
data_16 = data[data.year == 2016]
data_16

               customer_email  net_revenue  year
231294   mwrossuukz@gmail.com       197.26  2016
231295   gkwsoupawk@gmail.com        38.28  2016
231296   vlyigtgfzs@gmail.com       154.57  2016
231297   yfirychuhk@gmail.com       102.47  2016
231298   trnzgqinuu@gmail.com        32.03  2016
...                       ...          ...   ...
435935   mezrjfkced@gmail.com       114.17  2016
435936   rdotspqdxi@gmail.com       169.79  2016
435937   fkweqlmmjw@gmail.com        79.71  2016
435938   pidugzoeej@gmail.com       116.80  2016
435939   kxqglfdktu@gmail.com        37.31  2016

[204646 rows x 3 columns]

### Total revenue for current year

In [26]:
print("The Total revenue for 2016 is {}".format(data_16.net_revenue.sum()))

The Total revenue for 2016 is 25730943.59

### New Customer Revenue

In [38]:
print("The revenue from new customers in 2016 is {}".format(data_16[~data_16.customer_email.isin(data_15.customer_email)].net_revenue.sum()))

The revenue from new customers in 2016 is 18245491.01

#### Existing customers growth

##### As we dont have data for 2014 we cant say anything about existing customers in 2015.

#### Revenue lost from attrition

In [40]:
print("The revenue lost from attrition in 2016 is {}".format(data_15.net_revenue.sum() - data_16.net_revenue.sum()))

The revenue lost from attrition in 2016 is 3305805.599999994

#### Existing Customer Revenue Current Year

In [41]:
print("The revenue from existing customers in 2016 is {}".format(data_16[data_16.customer_email.isin(data_15.customer_email)].net_revenue.sum()))

The revenue from existing customers in 2016 is 7485452.58

#### Existing Customer Revenue Prior Year

In [42]:
print("The revenue from existing customers in 2015 is {}".format(data_15[data_15.customer_email.isin(data_16.customer_email)].net_revenue.sum()))

The revenue from existing customers in 2015 is 7465117.12

### Total Customers Current Year

In [43]:
print("The total number of unique customers for 2016 are: {}".format(len(pd.unique(data_16.customer_email))))

The total number of unique customers for 2016 are: 204646

#### Total Customers previous Year

In [44]:
print("The total number of unique customers for 2015 are: {}".format(len(pd.unique(data_15.customer_email))))

The total number of unique customers for 2015 are: 231294

#### New Customers

In [60]:
data_16[~data_16.customer_email.isin(data_15.customer_email)]

               customer_email  net_revenue  year
231294   mwrossuukz@gmail.com       197.26  2016
231295   gkwsoupawk@gmail.com        38.28  2016
231296   vlyigtgfzs@gmail.com       154.57  2016
231297   yfirychuhk@gmail.com       102.47  2016
231298   trnzgqinuu@gmail.com        32.03  2016
...                       ...          ...   ...
435933   sqodpufunf@gmail.com        29.62  2016
435934   dcakqgznnm@gmail.com       146.47  2016
435936   rdotspqdxi@gmail.com       169.79  2016
435937   fkweqlmmjw@gmail.com        79.71  2016
435938   pidugzoeej@gmail.com       116.80  2016

[145062 rows x 3 columns]

#### Lost Customers

In [47]:
data_15[~data_15.customer_email.isin(data_16.customer_email)]

               customer_email  net_revenue  year
0        nhknapwsbx@gmail.com       249.92  2015
1        joiuzbvcpn@gmail.com        87.61  2015
2        ukkjctepxt@gmail.com       168.38  2015
3        gykatilzrt@gmail.com        62.40  2015
4        mmsgsrtxah@gmail.com        43.08  2015
...                       ...          ...   ...
231289   xtrpmgjbwp@gmail.com       216.89  2015
231290   peeorxpsbr@gmail.com        39.16  2015
231291   vanasezjpw@gmail.com       233.46  2015
231292   dnpremlztb@gmail.com       136.27  2015
231293   qsgswrpycl@gmail.com        60.24  2015

[171710 rows x 3 columns]

## For 2017

In [48]:
data_17 = data[data.year == 2017]
data_17

               customer_email  net_revenue  year
435940   mwrossuukz@gmail.com        96.61  2017
435941  qvjfterwnk@gmail.com        176.00  2017
435942   vlyigtgfzs@gmail.com        73.47  2017
435943   yfirychuhk@gmail.com       138.17  2017
435944   fdkiioqtli@gmail.com       156.87  2017
...                       ...          ...   ...
685922   qzqttwiftu@gmail.com       184.58  2017
685923   pjodiifjop@gmail.com       133.03  2017
685924   appaplmgko@gmail.com       200.98  2017
685925   wvkpmwsgck@gmail.com       235.35  2017
685926   aregboumbw@gmail.com       208.43  2017

[249987 rows x 3 columns]

### Total revenue for current year

In [49]:
print("The Total revenue for 2017 is {}".format(data_17.net_revenue.sum()))

The Total revenue for 2017 is 31417495.030000016

### New Customer Revenue

In [50]:
print("The revenue from new customers in 2017 is {}".format(data_17[~data_17.customer_email.isin(data_16.customer_email)].net_revenue.sum()))

The revenue from new customers in 2017 is 28776235.039999995

#### Existing customers growth

In [52]:
print("The existing customer growth for 2017 is {}".format(data_17[data_17.customer_email.isin(data_16.customer_email)].net_revenue.sum() - data_16[data_16.customer_email.isin(data_15.customer_email)].net_revenue.sum()))

The existing customer growth for 2017 is -4844192.59

#### Revenue lost from attrition

In [53]:
print("The revenue lost from attrition in 2017 is {}".format(data_16.net_revenue.sum() - data_17.net_revenue.sum()))

The revenue lost from attrition in 2017 is -5686551.440000016

#### Existing Customer Revenue Current Year

In [54]:
print("The revenue from existing customers in 2017 is {}".format(data_17[data_17.customer_email.isin(data_16.customer_email)].net_revenue.sum()))

The revenue from existing customers in 2017 is 2641259.99

#### Existing Customer Revenue Prior Year

In [55]:
print("The revenue from existing customers in 2016 is {}".format(data_16[data_16.customer_email.isin(data_17.customer_email)].net_revenue.sum()))

The revenue from existing customers in 2016 is 2620648.65

### Total Customers Current Year

In [56]:
print("The total number of unique customers for 2017 are: {}".format(len(pd.unique(data_17.customer_email))))

The total number of unique customers for 2017 are: 249987

#### Total Customers previous Year

In [57]:
print("The total number of unique customers for 2016 are: {}".format(len(pd.unique(data_16.customer_email))))

The total number of unique customers for 2016 are: 204646

#### New Customers

In [59]:
data_17[~data_17.customer_email.isin(data_16.customer_email)]

               customer_email  net_revenue  year
435940   mwrossuukz@gmail.com        96.61  2017
435941  qvjfterwnk@gmail.com        176.00  2017
435942   vlyigtgfzs@gmail.com        73.47  2017
435943   yfirychuhk@gmail.com       138.17  2017
435944   fdkiioqtli@gmail.com       156.87  2017
...                       ...          ...   ...
685922   qzqttwiftu@gmail.com       184.58  2017
685923   pjodiifjop@gmail.com       133.03  2017
685924   appaplmgko@gmail.com       200.98  2017
685925   wvkpmwsgck@gmail.com       235.35  2017
685926   aregboumbw@gmail.com       208.43  2017

[229028 rows x 3 columns]

#### Lost Customers

In [61]:
data_16[~data_16.customer_email.isin(data_17.customer_email)]

               customer_email  net_revenue  year
231294   mwrossuukz@gmail.com       197.26  2016
231295   gkwsoupawk@gmail.com        38.28  2016
231296   vlyigtgfzs@gmail.com       154.57  2016
231297   yfirychuhk@gmail.com       102.47  2016
231298   trnzgqinuu@gmail.com        32.03  2016
...                       ...          ...   ...
435933   sqodpufunf@gmail.com        29.62  2016
435935   mezrjfkced@gmail.com       114.17  2016
435936   rdotspqdxi@gmail.com       169.79  2016
435938   pidugzoeej@gmail.com       116.80  2016
435939   kxqglfdktu@gmail.com        37.31  2016

[183687 rows x 3 columns]